/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

#__nuxt {
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}

